# Remove this line first before doing anything else
_____REMOVE_____THIS_____LINE_____=true


# ---------------「 REQUIRED 」--------------- #

API_ID=
API_HASH=""
LOG_CHANNEL_ID=

# -----------------「 AUTH 」----------------- #

# Bot
OWNER_ID=
BOT_TOKEN=""

# Userbot
STRING_SESSION=""

# ----------------「 HEROKU 」---------------- #

HEROKU_API_KEY=""
HEROKU_APP_NAME=""

# ---------------「 OPTIONAL 」--------------- #

DOWN_PATH=""
SLEEP_THRESHOLD=""
SUDO_USERS=""
WORKDIR=""
WORKERS=""